.component {
    
    padding: 14px;
    text-align: center;
   
}
.col{
    color: rgb(227, 238, 74);
}
ul{
    list-style: none;
    padding: 4px;
    margin: 0;
}
.video{
    position: absolute;
    top: -500px;
}
